.Sidenav {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  max-width: 300px;
  position: sticky;
  top: calc(60px + 16px);
  align-self: flex-start;
}
