@import "../../styles/mixin.scss";

.Main{
    display: grid;
    grid-template-columns: 1fr;
    @include mq('desktop')
    {
        grid-template-columns: 1fr 300px;
    }
    @include mq('large')
    {
        grid-template-columns: 280px 1fr 280px;
    }
    @include mq('xlarge')
    {
        grid-template-columns: 300px 1fr 300px;
    }
}
.Container{
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    @include mq('tablet')
    {
        padding-left: 32px;
        padding-right: 32px;
    }
}