.Header {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px;
  padding-left: 16px;
  background-color: var(--c-bg-header);
  grid-column: span 3;
  position: sticky;
  top: 0;
  z-index: 2;
  margin-bottom: 16px;
  > div:first-child {
    display: flex;
    align-items: center;
  }
  .Logo {
    margin-right: 8px;
    .Figure svg {
      font-size: 40px;
    }
  }
  .LogoSearch{
    width: 300px;
  }
}