@import "../../styles/mixin.scss";

.Header {
  height: 60px;
  display: flex;
  align-items: center;
  padding-right: 16px;
  padding-left: 16px;
  background-color: var(--c-bg-header);
  grid-column: span 3;
  position: sticky;
  top: 0;
  z-index: 2;
  margin-bottom: 16px;
  @include mq('tablet')
  {
    justify-content: space-between;
  }
  > div:first-child {
    display: flex;
    align-items: center;
  }
  .Logo {
    margin-right: 8px;
    .Figure svg {
      font-size: 40px;
    }
  }
  .LogoSearch{
    flex-shrink: 0;
    @include mq('tablet')
    {
      width: calc((40px * 4) + (8px * 3));
    }
    @include mq('xlarge')
    {
      width: 300px;
    }
  }
  .Navigation{
    margin-left: 4px;
    margin-right: 4px;
  }
  .Settings{
    margin-left: auto;
    flex-shrink: 0;
    @include mq('tablet')
    {
      margin-left: 0;
    }
  }
}