.h-stack{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    >*{
        margin: 10px;
    }
    svg{
        font-size: 40px;
    }
}
.v-stack{
    display: flex;
    flex-direction: column;
    >*+*{
        margin-top: 10px;
    }
}