.NavButton {
  flex: 1;
  padding: 4px 0 0;
  border-bottom: 3px solid transparent;
  &.Active {
    border-color: var(--c-primary);
    svg {
      color: var(--c-primary);
    }
    button:hover {
      background-color: transparent;
    }
  }
  button {
    width: 100%;
    height: 100%;
    justify-content: center;
    border-radius: 8px;
    transition: var(--fade);
  }
  svg {
    color: var(--c-secondary-text);
    font-size: 28px;
  }
}
